{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register | Cats Curios{% endblock %}

{% block content %}
<div class="auth-form">
  <h1 class="h2 mb-3">Create account</h1>
  <form method="post" novalidate>
      {% csrf_token %}
      {% if request.GET.next %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      {{ form|crispy }}
      <button class="btn btn-dark" type="submit">Register</button>
  </form>
</div>
{% endblock %}
